.SearchBar {
  --border-radius: 15px;
}

.SearchBar__input {
  width: clamp(200px, 50%, 600px);
  margin-right: 10px;
}

.SearchBar__item {
  border: 5px solid white;
  padding: 5px 10px;
  color: white;
  background-color: transparent;
  border-radius: var(--border-radius);
}

.SearchBar__item:hover,
.SearchBar__item:focus {
  background-color: hsla(0, 100%, 100%, 0.3);
  outline: none;
}

.SearchBar__item--pointer:hover {
  cursor: pointer;
}

.SearchBar__item:active {
  background-color: transparent;
}
