.SearchResultItem {
  padding: 20px;
}

.SearchResultItem:hover,
.SearchResultItem:focus {
  background-color: hsla(0, 100%, 100%, 0.3);
}

.SearchResultItem__heading {
  overflow-wrap: break-word;
}

.SearchResultItem__img {
  max-width: 100%;
  max-height: 300px;
  border-radius: 15px;
}
