html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "AstroSpace";
  src: url("./assets/fonts/AstroSpace-eZ2Bg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  padding: 20px;
  font-family: AstroSpace, sans-serif;
  font-size: 3rem;
}

.Link {
  text-decoration: none;
  color: inherit;
}
